<h1>Listing problem_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_types.each do |problem_type| %>
      <tr>
        <td><%= problem_type.name %></td>
        <td><%= link_to 'Show', problem_type %></td>
        <td><%= link_to 'Edit', edit_problem_type_path(problem_type) %></td>
        <td><%= link_to 'Destroy', problem_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem type', new_problem_type_path %>
